[submodule "menhir"]
	path = vendor/menhir
	url = https://github.com/pippijn/menhir.git
[submodule "merr"]
	path = vendor/merr
	url = https://github.com/pippijn/merr.git
[submodule "web"]
	path = web
	url = git@github.com:evilmartians/foundry-web
