[submodule "vendor/mspec"]
	path = vendor/mspec
	url = git://github.com/rubyspec/mspec
[submodule "vendor/rubyspec"]
	path = vendor/rubyspec
	url = git://github.com/rubyspec/rubyspec
[submodule "redist"]
	path = redist
	url = git@github.com:whitequark/foundry-redist.git
