[submodule "menhir"]
	path = menhir
	url = https://github.com/pippijn/menhir.git
[submodule "merr"]
	path = merr
	url = https://github.com/pippijn/merr.git
[submodule "web"]
	path = web
	url = git@github.com:whitequark/foundry-web
