/* REPL */

.CodeMirror {
  margin: 1em 0 1em 0;
}

.CodeMirror .diag-0 {
  background: url(../img/underline-red.png) repeat-x bottom;
}

.CodeMirror .diag-1 {
  background: url(../img/underline-orange.png) repeat-x bottom;
}

.CodeMirror .diag-2 {
  background: url(../img/underline-pink.png) repeat-x bottom;
}

.CodeMirror .diag-marker {
  position: absolute;
  top: 6px;
  left: 5px;
  border-radius: 50%;
  border: 3px solid;
}

.CodeMirror .diag-marker-0 {
  border-color: red;
}

.CodeMirror .diag-marker-1 {
  border-color: orange;
}

.CodeMirror .diag-marker-2 {
  background: magenta;
}

#repl-section {
  margin-top: 20px;
}

#repl-output .output {
  font-family: monospace;
}
